### Analisis con Pandas y Kaggle (Core)

El objetivo de esta actividad es poner en práctica todos los conocimientos adquiridos sobre Pandas a través del análisis completo de un dataset. Los estudiantes deben aplicar técnicas de carga, exploración, limpieza, transformación, y agregación de datos para extraer insights valiosos. La actividad no incluye visualización de datos, enfocándose únicamente en el análisis y manipulación de datos con Pandas.

**Instrucciones**

**Preparación del Entorno**

Asegúrate de tener instalado Pandas en tu entorno de trabajo.

Descarga el archivo dataset.csv desde Kaggle. Elige un dataset que te interese y que no incluya visualización de datos. Algunas sugerencias pueden ser datasets relacionados con ventas, compras, productos, etc.

In [1]:
import pandas as pd

# Especificar la ruta del archivo CSV
archivo_csv = '../data/Balaji_Fast_Food_Sales.csv'

# Cargar el archivo CSV en un DataFrame
try:
    df = pd.read_csv(archivo_csv)
    
    # Mostrar las primeras 10 filas del DataFrame para confirmar que los datos se han cargado correctamente
    print(df.head(10))

except FileNotFoundError:
    print(f"El archivo no fue encontrado en la ruta {archivo_csv}. Verifica que la ruta y el archivo sean correctos.")
except Exception as e:
    print(f"Ocurrió un error al intentar cargar el archivo: {e}")

   order_id        date        item_name  item_type  item_price  quantity  \
0         1  07-03-2022         Aalopuri   Fastfood          20        13
1         2   8/23/2022          Vadapav   Fastfood          20        15
2         3  11/20/2022          Vadapav   Fastfood          20         1
3         4  02-03-2023  Sugarcane juice  Beverages          25         6
4         5  10-02-2022  Sugarcane juice  Beverages          25         8
5         6  11/14/2022          Vadapav   Fastfood          20        10
6         7  05-03-2022  Sugarcane juice  Beverages          25         9
7         8  12/22/2022         Panipuri   Fastfood          20        14
8         9  06-10-2022         Panipuri   Fastfood          20         1
9        10   9/16/2022         Panipuri   Fastfood          20         5

   transaction_amount transaction_type received_by time_of_sale
0                 260              NaN         Mr.        Night
1                 300             Cash         Mr.    Afternoon
2                  20             Cash         Mr.    Afternoon
3                 150           Online         Mr.        Night
4                 200           Online         Mr.      Evening
5                 200             Cash         Mr.      Evening
6                 225             Cash         Mr.      Evening
7                 280           Online         Mr.        Night
8                  20             Cash        Mrs.      Morning
9                 100           Online         Mr.    Afternoon

In [2]:
print(df.info)
print(df.describe())

<bound method DataFrame.info of      order_id        date        item_name  item_type  item_price  quantity  \
0           1  07-03-2022         Aalopuri   Fastfood          20        13
1           2   8/23/2022          Vadapav   Fastfood          20        15
2           3  11/20/2022          Vadapav   Fastfood          20         1
3           4  02-03-2023  Sugarcane juice  Beverages          25         6
4           5  10-02-2022  Sugarcane juice  Beverages          25         8
..        ...         ...              ...        ...         ...       ...
995       996   3/19/2023          Frankie   Fastfood          50        10
996       997   9/20/2022         Sandwich   Fastfood          60         7
997       998   1/26/2023         Sandwich   Fastfood          60        13
998       999   8/27/2022         Panipuri   Fastfood          20         5
999      1000   5/29/2022         Aalopuri   Fastfood          20         3

     transaction_amount transaction_type received_by time_of_sale
0                   260              NaN         Mr.        Night
1                   300             Cash         Mr.    Afternoon
2                    20             Cash         Mr.    Afternoon
3                   150           Online         Mr.        Night
4                   200           Online         Mr.      Evening
..                  ...              ...         ...          ...
995                 500              NaN        Mrs.      Evening
996                 420              NaN         Mr.      Evening
997                 780              NaN         Mr.      Evening
998                 100              NaN        Mrs.    Afternoon
999                  60           Online        Mrs.     Midnight

[1000 rows x 10 columns]>
          order_id   item_price     quantity  transaction_amount
count  1000.000000  1000.000000  1000.000000         1000.000000
mean    500.500000    33.315000     8.162000          275.230000
std     288.819436    14.921744     4.413075          204.402979
min       1.000000    20.000000     1.000000           20.000000
25%     250.750000    20.000000     4.000000          120.000000
50%     500.500000    25.000000     8.000000          240.000000
75%     750.250000    50.000000    12.000000          360.000000
max    1000.000000    60.000000    15.000000          900.000000

**Exploración Inicial de los Datos**

Muestra las últimas 5 filas del DataFrame.

Utiliza el método info() para obtener información general sobre el DataFrame, incluyendo el número de entradas, nombres de las columnas, tipos de datos y memoria utilizada.

Genera estadísticas descriptivas del DataFrame utilizando el método describe().

In [3]:
# Mostrar las últimas 5 filas del DataFrame
print("Últimas 5 filas del DataFrame:")
print(df.tail())

# Obtener información general del DataFrame
print("\nInformación general del DataFrame:")
df.info()

# Generar estadísticas descriptivas del DataFrame
print("\nEstadísticas descriptivas del DataFrame:")
print(df.describe())

Últimas 5 filas del DataFrame:
     order_id       date item_name item_type  item_price  quantity  \
995       996  3/19/2023   Frankie  Fastfood          50        10
996       997  9/20/2022  Sandwich  Fastfood          60         7
997       998  1/26/2023  Sandwich  Fastfood          60        13
998       999  8/27/2022  Panipuri  Fastfood          20         5
999      1000  5/29/2022  Aalopuri  Fastfood          20         3

     transaction_amount transaction_type received_by time_of_sale
995                 500              NaN        Mrs.      Evening
996                 420              NaN         Mr.      Evening
997                 780              NaN         Mr.      Evening
998                 100              NaN        Mrs.    Afternoon
999                  60           Online        Mrs.     Midnight

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            1000 non-null   int64
 1   date                1000 non-null   object
 2   item_name           1000 non-null   object
 3   item_type           1000 non-null   object
 4   item_price          1000 non-null   int64
 5   quantity            1000 non-null   int64
 6   transaction_amount  1000 non-null   int64
 7   transaction_type    893 non-null    object
 8   received_by         1000 non-null   object
 9   time_of_sale        1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.3+ KB

Estadísticas descriptivas del DataFrame:
          order_id   item_price     quantity  transaction_amount
count  1000.000000  1000.000000  1000.000000         1000.000000
mean    500.500000    33.315000     8.162000          275.230000
std     288.819436    14.921744     4.413075          204.402979
min       1.000000    20.000000     1.000000           20.000000
25%     250.750000    20.000000     4.000000          120.000000
50%     500.500000    25.000000     8.000000          240.000000
75%     750.250000    50.000000    12.000000          360.000000
max    1000.000000    60.000000    15.000000          900.000000

**Limpieza de Datos**

Identifica y maneja los datos faltantes utilizando técnicas apropiadas (relleno con valores estadísticos, interpolación, eliminación, etc.).

Corrige los tipos de datos si es necesario (por ejemplo, convertir cadenas a fechas).

Elimina duplicados si los hay.

In [7]:
# Identificar valores faltantes
print("Valores faltantes por columna:")
print(df.isnull().sum())

Valores faltantes por columna:
order_id                   0
date                       0
item_name                  0
item_type                  0
item_price                 0
quantity                   0
transaction_amount         0
transaction_type         107
received_by                0
time_of_sale               0
Total_Income               0
Normalized_Price           0
Standardized_Quantity      0
Price_Category             0
dtype: int64

# Eliminar filas con valores nulos en la columna 'CustomerNo'
df.dropna(subset=['CustomerNo'], inplace=True)

# Si 'transaction_type' es numérico, puedes rellenar con un valor como 0 o la mediana
df['transaction_type'].fillna(0, inplace=True)

# Si es de tipo cadena, podrías rellenar con 'Desconocido' o un valor similar
df['transaction_type'].fillna('Desconocido', inplace=True)

**Transformación de Datos**

Crea nuevas columnas basadas en operaciones con las columnas existentes (por ejemplo, calcular ingresos a partir de ventas y precios).

Normaliza o estandariza columnas si es necesario.

Clasifica los datos en categorías relevantes.

In [8]:
# 1. Crear nuevas columnas basadas en operaciones
# Supongamos que queremos calcular el ingreso total (Precio * Cantidad)
df['Total_Income'] = df['item_price'] * df['quantity']

# 2. Normalizar o estandarizar columnas si es necesario
# Por ejemplo, normalizar la columna 'Price' entre 0 y 1
df['Normalized_Price'] = (df['item_price'] - df['item_price'].min()) / (df['item_price'].max() - df['item_price'].min())

# O estandarizar la columna 'Quantity' (z-score)
df['Standardized_Quantity'] = (df['quantity'] - df['quantity'].mean()) / df['quantity'].std()

# 3. Clasificar los datos en categorías relevantes
# Supongamos que queremos clasificar los precios en categorías
bins = [0, 10, 20, 50, 100, float('inf')]  # Definimos los límites de los bins
labels = ['Very Low', 'Low', 'Medium', 'High', 'Very High']  # Etiquetas para las categorías
df['Price_Category'] = pd.cut(df['item_price'], bins=bins, labels=labels)

# Mostrar el DataFrame resultante
print(df.head(10))  # Muestra las primeras 10 filas para verificar las nuevas columnas

   order_id        date        item_name  item_type  item_price  quantity  \
0         1  07-03-2022         Aalopuri   Fastfood          20        13
1         2   8/23/2022          Vadapav   Fastfood          20        15
2         3  11/20/2022          Vadapav   Fastfood          20         1
3         4  02-03-2023  Sugarcane juice  Beverages          25         6
4         5  10-02-2022  Sugarcane juice  Beverages          25         8
5         6  11/14/2022          Vadapav   Fastfood          20        10
6         7  05-03-2022  Sugarcane juice  Beverages          25         9
7         8  12/22/2022         Panipuri   Fastfood          20        14
8         9  06-10-2022         Panipuri   Fastfood          20         1
9        10   9/16/2022         Panipuri   Fastfood          20         5

   transaction_amount transaction_type received_by time_of_sale  Total_Income  \
0                 260              NaN         Mr.        Night           260
1                 300             Cash         Mr.    Afternoon           300
2                  20             Cash         Mr.    Afternoon            20
3                 150           Online         Mr.        Night           150
4                 200           Online         Mr.      Evening           200
5                 200             Cash         Mr.      Evening           200
6                 225             Cash         Mr.      Evening           225
7                 280           Online         Mr.        Night           280
8                  20             Cash        Mrs.      Morning            20
9                 100           Online         Mr.    Afternoon           100

   Normalized_Price  Standardized_Quantity Price_Category
0             0.000               1.096288            Low
1             0.000               1.549486            Low
2             0.000              -1.622905            Low
3             0.125              -0.489908         Medium
4             0.125              -0.036709         Medium
5             0.000               0.416490            Low
6             0.125               0.189890         Medium
7             0.000               1.322887            Low
8             0.000              -1.622905            Low
9             0.000              -0.716507            Low

**Análisis de Datos**

Realiza agrupaciones de datos utilizando groupby para obtener insights específicos (por ejemplo, ventas por producto, ventas por región, etc.).

Aplica funciones de agregación como sum, mean, count, min, max, std, y var.

Utiliza el método apply para realizar operaciones más complejas y personalizadas.

In [ ]:

# 1. Agrupación de ventas por producto
ventas_por_producto = df.groupby('ProductName').agg({
    'Total_Income': 'sum',  # Sumar ingresos totales por producto
    'quantity': 'sum',       # Sumar la cantidad vendida por producto
    'item_price': 'mean'          # Calcular el precio promedio por producto
}).reset_index()

print("Ventas por Producto:")
print(ventas_por_producto.sort_values(by='Total_Income', ascending=False).head(10))  # Muestra los 10 productos con más ventas

# 2. Agrupación de ventas por región (suponiendo que hay una columna 'Country')
ventas_por_region = df.groupby('Country').agg({
    'Total_Income': 'sum',  # Sumar ingresos totales por región
    'quantity': 'sum'        # Sumar la cantidad vendida por región
}).reset_index()

print("\nVentas por Región:")
print(ventas_por_region.sort_values(by='Total_Income', ascending=False).head(10))  # Muestra las 10 regiones con más ventas

# 3. Aplicar funciones personalizadas con apply
def custom_stats(group):
    return pd.Series({
        'total_sales': group['Total_Income'].sum(),
        'average_price': group['item_price'].mean(),
        'total_quantity': group['quantity'].sum(),
        'max_price': group['item_price'].max(),
        'min_price': group['item_price'].min()
    })

# Agrupando por producto y aplicando la función personalizada
stats_por_producto = df.groupby('ProductName').apply(custom_stats).reset_index()

print("\nEstadísticas Personalizadas por Producto:")
print(stats_por_producto.sort_values(by='total_sales', ascending=False).head(10))  # Muestra los 10 productos con más estadísticas

**Documentación**
Documenta claramente cada paso del análisis, explicando qué se hizo y por qué se hizo.
Asegúrate de que el código sea legible y esté bien comentado.

In [9]:
print(df.info)
print(df.describe())

<bound method DataFrame.info of      order_id        date        item_name  item_type  item_price  quantity  \
0           1  07-03-2022         Aalopuri   Fastfood          20        13
1           2   8/23/2022          Vadapav   Fastfood          20        15
2           3  11/20/2022          Vadapav   Fastfood          20         1
3           4  02-03-2023  Sugarcane juice  Beverages          25         6
4           5  10-02-2022  Sugarcane juice  Beverages          25         8
..        ...         ...              ...        ...         ...       ...
995       996   3/19/2023          Frankie   Fastfood          50        10
996       997   9/20/2022         Sandwich   Fastfood          60         7
997       998   1/26/2023         Sandwich   Fastfood          60        13
998       999   8/27/2022         Panipuri   Fastfood          20         5
999      1000   5/29/2022         Aalopuri   Fastfood          20         3

     transaction_amount transaction_type received_by time_of_sale  \
0                   260              NaN         Mr.        Night
1                   300             Cash         Mr.    Afternoon
2                    20             Cash         Mr.    Afternoon
3                   150           Online         Mr.        Night
4                   200           Online         Mr.      Evening
..                  ...              ...         ...          ...
995                 500              NaN        Mrs.      Evening
996                 420              NaN         Mr.      Evening
997                 780              NaN         Mr.      Evening
998                 100              NaN        Mrs.    Afternoon
999                  60           Online        Mrs.     Midnight

     Total_Income  Normalized_Price  Standardized_Quantity Price_Category
0             260             0.000               1.096288            Low
1             300             0.000               1.549486            Low
2              20             0.000              -1.622905            Low
3             150             0.125              -0.489908         Medium
4             200             0.125              -0.036709         Medium
..            ...               ...                    ...            ...
995           500             0.750               0.416490         Medium
996           420             1.000              -0.263308           High
997           780             1.000               1.096288           High
998           100             0.000              -0.716507            Low
999            60             0.000              -1.169706            Low

[1000 rows x 14 columns]>
          order_id   item_price     quantity  transaction_amount  \
count  1000.000000  1000.000000  1000.000000         1000.000000
mean    500.500000    33.315000     8.162000          275.230000
std     288.819436    14.921744     4.413075          204.402979
min       1.000000    20.000000     1.000000           20.000000
25%     250.750000    20.000000     4.000000          120.000000
50%     500.500000    25.000000     8.000000          240.000000
75%     750.250000    50.000000    12.000000          360.000000
max    1000.000000    60.000000    15.000000          900.000000

       Total_Income  Normalized_Price  Standardized_Quantity
count   1000.000000       1000.000000           1.000000e+03
mean     275.230000          0.332875          -1.758593e-16
std      204.402979          0.373044           1.000000e+00
min       20.000000          0.000000          -1.622905e+00
25%      120.000000          0.000000          -9.431066e-01
50%      240.000000          0.125000          -3.670910e-02
75%      360.000000          0.750000           8.696884e-01
max      900.000000          1.000000           1.549486e+00