## Proyecto I- Parte 2 (Core)

Instrucciones

Preparación del Entorno

Asegúrate de tener instalado Pandas en tu entorno de trabajo.

Utiliza el archivo retail_sales.csv del proyecto inicial. Si aún no lo tienes, descarga el archivo correspondiente.

Cargar los Datos

Carga el archivo retail_sales.csv en un DataFrame de Pandas.

Muestra las primeras 10 filas del DataFrame para confirmar que los datos se han cargado correctamente.

In [1]:
import pandas as pd

# Especificar la ruta completa del archivo CSV
file_path = '../data/retail_sales.csv'

# Cargar el archivo retail_sales.csv en un DataFrame
df = pd.read_csv(file_path)

# Mostrar las primeras 5 filas del DataFrame para confirmar que se ha cargado correctamente
print("Primeras 5 filas del DataFrame:")
print(df.head())

Primeras 5 filas del DataFrame:
   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100

Exploración Inicial de los Datos

Muestra las últimas 5 filas del DataFrame.

Utiliza el método info() para obtener información general sobre el DataFrame, incluyendo el número de entradas, nombres de las columnas, tipos de datos y memoria utilizada.

Genera estadísticas descriptivas del DataFrame utilizando el método describe().

In [2]:

# Mostrar las últimas 5 filas del DataFrame
print("Últimas 5 filas del DataFrame:")
print(df.tail())

# Utilizar el método info() para obtener información general sobre el DataFrame
print("\nInformación general sobre el DataFrame:")
df.info()

# Generar estadísticas descriptivas del DataFrame utilizando el método describe()
print("\nEstadísticas descriptivas del DataFrame:")
print(df.describe())

Últimas 5 filas del DataFrame:
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

Información general sobre el DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

Estadísticas descriptivas del DataFrame:
       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

Inspección de los Datos

Inspecciona los tipos de datos de cada columna utilizando el atributo dtypes.

Cuenta los valores únicos en la columna Producto utilizando el método value_counts().

Muestra todos los valores únicos en la columna Tienda utilizando el método unique().

In [3]:
# Inspeccionar los tipos de datos de cada columna
print("Tipos de datos de cada columna:")
print(df.dtypes)

# Contar los valores únicos en la columna 'Product Category'
print("\nConteo de valores únicos en la columna 'Product Category':")
producto_counts = df['Product Category'].value_counts()  # Usando el nombre correcto de la columna
print(producto_counts)

# Mostrar todos los valores únicos en la columna 'Gender'
print("\nValores únicos en la columna 'Gender':")
gender_unique = df['Gender'].unique()  # Usando el nombre correcto de la columna
print(gender_unique)

Tipos de datos de cada columna:
Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

Conteo de valores únicos en la columna 'Product Category':
Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

Valores únicos en la columna 'Gender':
['Male' 'Female']

Filtrado de Datos

Filtra el DataFrame para mostrar solo las filas donde las ventas (Ventas) sean mayores a 50.

Filtra el DataFrame para mostrar solo las filas donde el precio (Precio) sea menor a 0.5.

Utilizando el método query(), filtra el DataFrame para mostrar las filas donde el producto sea Manzanas y las ventas sean mayores a 30.

In [4]:
# Filtrar para mostrar solo las filas donde las ventas (Total Amount) sean mayores a 50
ventas_mayores_50 = df[df['Total Amount'] > 50]
print("Filas donde las ventas son mayores a 50:")
print(ventas_mayores_50)

Filas donde las ventas son mayores a 50:
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
7                 8  2023-02-22     CUST008    Male   30      Electronics
..              ...         ...         ...     ...  ...              ...
993             994  2023-12-18     CUST994  Female   51           Beauty
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
0           3              50           150
1           2             500          1000
3           1             500           500
4           2              50           100
7           4              25           100
..        ...             ...           ...
993         2             500          1000
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

[783 rows x 9 columns]

In [5]:

# Filtrar para mostrar solo las filas donde el precio (Price per Unit) sea menor a 0.5
precio_menor_0_5 = df[df['Price per Unit'] < 0.5]
print("\nFilas donde el precio es menor a 0.5:")
print(precio_menor_0_5)

Filas donde el precio es menor a 0.5:
Empty DataFrame
Columns: [Transaction ID, Date, Customer ID, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount]
Index: []

In [6]:

# Filtrar usando query() para mostrar filas donde el producto sea "Manzanas" y las ventas sean mayores a 30
# Asegúrate de que el nombre del producto en tu DataFrame sea exactamente "Manzanas"
manzanas_mayores_30 = df.query('`Product Category` == "Manzanas" and `Total Amount` > 30')
print("\nFilas donde el producto es 'Manzanas' y las ventas son mayores a 30:")
print(manzanas_mayores_30)

Filas donde el producto es 'Manzanas' y las ventas son mayores a 30:
Empty DataFrame
Columns: [Transaction ID, Date, Customer ID, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount]
Index: []

Slicing de Datos

Selecciona y muestra solo las columnas Producto y Ventas del DataFrame.

Utilizando loc[], selecciona y muestra las filas de la 5 a la 10 (inclusive) y las columnas Producto y Tienda.

Utilizando iloc[], selecciona y muestra las primeras 5 filas y las primeras 3 columnas del DataFrame.

In [7]:
# 1. Seleccionar y mostrar solo las columnas Producto y Ventas
# Asegúrate de usar los nombres de las columnas correctamente
producto_ventas = df[['Product Category', 'Total Amount']]
print("Columnas Producto y Ventas:")
print(producto_ventas)

Columnas Producto y Ventas:
    Product Category  Total Amount
0             Beauty           150
1           Clothing          1000
2        Electronics            30
3           Clothing           500
4             Beauty           100
..               ...           ...
995         Clothing            50
996           Beauty            90
997           Beauty           100
998      Electronics           150
999      Electronics           120

[1000 rows x 2 columns]

In [8]:
# 2. Utilizando loc[], seleccionar y mostrar las filas de la 5 a la 10 (inclusive) y las columnas Producto y Tienda
# Las filas en loc[] son 0-indexadas, así que seleccionaremos desde 4 hasta 10
filas_5_a_10 = df.loc[4:9, ['Product Category', 'Gender']]
print("\nFilas de la 5 a la 10 (inclusive) y columnas Producto y Tienda:")
print(filas_5_a_10)

Filas de la 5 a la 10 (inclusive) y columnas Producto y Tienda:
  Product Category  Gender
4           Beauty    Male
5           Beauty  Female
6         Clothing    Male
7      Electronics    Male
8      Electronics    Male
9         Clothing  Female

In [9]:

# 3. Utilizando iloc[], seleccionar y mostrar las primeras 5 filas y las primeras 3 columnas del DataFrame
primeras_5_filas_3_columnas = df.iloc[0:5, 0:3]
print("\nPrimeras 5 filas y primeras 3 columnas usando iloc:")
print(primeras_5_filas_3_columnas)

Primeras 5 filas y primeras 3 columnas usando iloc:
   Transaction ID        Date Customer ID
0               1  2023-11-24     CUST001
1               2  2023-02-27     CUST002
2               3  2023-01-13     CUST003
3               4  2023-05-21     CUST004
4               5  2023-05-06     CUST005